body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
h1{
    text-align: center;
}

.inputs {
    margin-bottom: 20px;
}

label {
    font-weight: bold;
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button.btn {
    padding: 10px 20px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: .2s ease-out;
}
button.btn:hover{
    color :black;
    background-color: white;
    transition: .2s ease-in;
    border: 1px solid black;
}

.list label {
    font-weight: bold;
}

ol {
    list-style-type: none;
    padding: 0;
}

ol li {
    margin-bottom: 10px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}

#odlist1 {
    background-color: #ffeded;
}

#odlist2 {
    background-color: #c3ffc3;
}